.mapList {
    background: #2a2a2a;
    box-sizing: content-box;
    height: auto;
    left: 0;
    min-height: 100%;
    margin-right: 10px;
    position: fixed;
    text-align: left;
    top: 0;
    user-select: none;
    width: 250px;
}

.select-box {
    height: 40px;
    width: 100%;
}
.select-box:after {
    content: "▼";
    position: absolute;
    right: 8px;
    top: 10px;
    text-align: center;
    pointer-events: none;
    width: 20px;
    z-index: 1;
}


.select-box select{
    appearance: none;
    background: #f7f7f7;
    border: none;
    height: 100%;
    padding-left: 10px;
    padding-right: 25px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.item{
    border-bottom: 2px solid rgba(200, 214, 226, 0.15);
    color: rgba(255,255,255,.9);;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
    padding: .92857143em 1.14285714em;
}

.item:hover{
    background: #414141;
}

